# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd

# === WebDriver binaries ===
chromedriver*
geckodriver*
msedgedriver*


# === Virtual Environment ===
venv/
.env

# === Pytest / Reports ===
.pytest_cache/
report.html

# === Screenshots & Artifacts ===
screenshots/

# === OS / Editor ===
.DS_Store
.vscode/
.idea/

# === Logs ===
*.log
